# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/ .next/

# Supabase
supabase/

# Environment files
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# TS build info
*.tsbuildinfo
**/*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db
